---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include navbar.html %}



  <!-- Project Hero -->
  <section class="hero is-large is-bold"
         style="background: url('{{ page.image }}') center/cover no-repeat;">
  <div class="hero-body">
    <div class="container has-text-centered">
    </div>
  </div>
</section>

  <!-- Project Content -->
  <section class="section">
    <div class="container content">
      {{ content }}  <!-- Any additional project info goes here -->
    </div>
  </section>

  {% include footer.html %}
</body>
</html>
